:root {
	// Семейство шрифта по умолчанию
	--bs-font-family: "Gilroy", sans-serif;

	// Размер шрифта по умолчанию
	--bs-font-size: 16px;

	// Жирность шрифта по умолчанию
	--bs-font-weight: 400;

	// Базовая высота шрифта
	--bs-line-height: 1;

	// Цвет шрифта по умолчанию
	--bs-font-color: #fff;
	
	--bs-transition: 0.3s ease-in-out;
	--bs-radius: 10px;
	--primary-color: #1371FF;
	--primary-hover-color: #0C67F0;
	--secondary-color: #FF0000;
	--white-color: #fff;
	--black-color: #000;
	--grey-color: #a3a3a3;
	--bs-shadow: 0px 2px 3px #{rgba(#000, 10%)}, 0px 8px 3px #{rgba(#000, 10%)};
	--hover-shadow: 0 0 5px 0 #{rgba(#000, 10%)}, 0 0 10px 0 #{rgba(#000, 10%)}, 0 0 15px 0 #{rgba(#000, 10%)};
}
